<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to image_tag('VRConfident logo.png'), root_path, id:"logo", class: "navbar-wagon-brand" %>

  <!-- Right Navigation, hidden on mobile -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  <%= link_to "INTRO", "#", class: "navbar-wagon-item navbar-wagon-link"%>

    <%= link_to "PRODUCT", "#product", class: "navbar-wagon-item navbar-wagon-link"%>

    <%= link_to "HOW IT WORKS", "#howitworks", class: "navbar-wagon-item navbar-wagon-link"%>

    <%= link_to "FEATURES & PRICING", "#features", class: "navbar-wagon-item navbar-wagon-link"%>

    <%= link_to "FREE TRIAL", "#testit", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
  <!-- end of right navigation -->

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg" style="display: flex; justify-content: space-around">
    <div class="dropdown">
      <i class="navicon fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "INTRO", "#" %></li>
        <li><%= link_to "PRODUCT", "#product" %></li>
        <li><%= link_to "HOW IT WORKS", "#howitworks" %></li>
        <li><%= link_to "FEATURES & PRICING", "#features" %></li>
        <li><%= link_to "FREE TRIAL", "#testit" %></li>
      </ul>
    </div>
  </div>
  <!-- end of mobile-only dropdown -->
</div>
